@forward "normalize";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

$clr-primary: hsla(214, 84%, 56%, 1);
$clr-secondary: hsla(0, 0%, 100%, 1);
$clr-black: hsla(0, 0%, 0%, 1);
$clr-delete: hsla(0, 79%, 63%, 1);
$clr-gray-700: hsla(0, 0%, 20%, 1);
$clr-gray-500: hsl(0, 0%, 51%);
$clr-gray-400: hsla(0, 0%, 74%, 1);

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  min-width: 375px;
}

body {
  font-family: "Montserrat", sans-serif;
  padding-inline: 1rem;
  color: $clr-gray-700;
}

h1 {
  text-align: center;
  font-size: 36px;
}

.todo {
  max-width: 600px;
  margin-inline: auto;
}

.todo-navigation {
  display: flex;
  justify-content: space-around;
  font-weight: 600;
  border-bottom: 1px solid $clr-gray-400;

  span {
    text-transform: capitalize;
    position: relative;
    padding: 19px;
    cursor: pointer;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 4px 4px 0px 0px;
    }

    &.active::after {
      background-color: $clr-primary;
    }
  }
}

.add-task {
  display: flex;
  gap: 25px;
  font-size: 14px;
  height: 56px;
  margin-block: 18px;

  input {
    width: 100%;
    padding: 19px 12px;
    border: 1px solid $clr-gray-400;
    border-radius: 12px;
    color: $clr-gray-700;

    &:focus {
      font-weight: 500;
      color: $clr-primary;
      outline-color: $clr-primary;
    }

    &::placeholder {
      color: $clr-gray-400;
    }
  }

  button {
    font-weight: 600;
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
    color: $clr-secondary;
    box-shadow: 0px 2px 6px 0px hsla(214, 83%, 73%, 0.4);
    background-color: $clr-primary;
  }
}

.task-list {
  display: grid;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
  max-height: 328px;
  padding: 0;
  margin-block: 32px;
  color: $clr-black;
  overflow-y: auto;

  .task {
    display: flex;
    align-items: center;
    gap: 7px;
    text-transform: capitalize;
    padding: 5px;
    border: 4px;

    &:hover {
      cursor: pointer;

      .material-symbols-outlined {
        opacity: 1;
      }
    }
  }

  input {
    width: 24px;
    height: 24px;
    margin-right: 7px;

    &:checked + label {
      text-decoration: line-through;
      color: $clr-gray-700;
    }
  }

  label {
    cursor: pointer;
  }

  .material-symbols-outlined {
    justify-content: flex-end;
    font-size: 20px;
    opacity: 0;
    margin-left: auto;
    transition: opacity 0.2s ease-in;
  }

  button {
    display: flex;
    align-items: center;
    gap: 5.5px;
    font-size: 12px;
    font-weight: 600;
    width: fit-content;
    padding: 12px 26px;
    margin-block: 20px;
    margin-left: auto;
    border: none;
    border-radius: 4px;
    color: $clr-secondary;
    background-color: $clr-delete;

    span {
      font-size: 19px !important;
      opacity: 1 !important;
    }
  }
}
